@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(83, 35, 35);
    color: white;
    padding: 10px 20px;
    height: 80px;
    position: fixed;
    width: 100%;
  }

 .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
    .nav-logo {
    display: flex;
    align-items: center;
  }
  .nav-logo img{
    height: 100px;
    margin-left: 30px;
    
  }
  .nav-logo h1{
    color: cornsilk;
    font-size: 20px;
  }
  .nav-link{
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-left: 30px;
  }
  
  .nav-link  li a{
    color:  cornsilk;
    text-decoration: none;
    font-size: 16px;
    padding: 6px 10px; 
  }
  .nav-link li a:hover{
    background-color: #2c0a0a;
      border-radius: 4px;
    padding: 15px;
  }

  .dropdown {
    display: none;
    position: absolute;
    background-color: #6d0b0b;
    margin-top: .01; 
  }
  
  .dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdown ul li {
    padding: 10px 15px;
    color: white;
    cursor: pointer;
  }
  
  .dropdown ul li:hover {
    background-color:  #550c0c;
  }
  
  .nav-link li:hover .dropdown {
    display: block;
  }

  .nav-icon{
       display: flex;
       justify-content: space-around;
       align-items: center;
       gap: 30px;
  }
  .nav-icon img:hover{
    background-color: #270d0d;
    border-radius: 30px 30px 30px 30px ;
  }

  


  .main-section{
    
    background-image: url('./images/background1.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(26, 24, 24, 0.5); 
    background-size: cover;
    padding: 20px;
    

    
  }
  .main-section h1{
    font-family: "Playfair Display", serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    color: white;
    margin-left: 100px;
    font-size: 40px;
    

  }
  .main-section img{
    margin-left: auto;
    
  }

  .main-section h1 button{
    background-color: #572a2a;
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    
  }
  

  .main-section h1 button:hover{
    background-color: rgb(116, 56, 13);
  }
  .main-section h1 p{
    font-size: 20px;
    margin-top: px;
    margin-top: 20px;
  }
  

.grid-container {
    background-color: rgb(63, 24, 24);
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px ;

  }
  
  .grid-item {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }

  .grid-item img {
    width: 80%;
    height: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  .grid-item img:hover {
    transform: scale(1.05);
    opacity: 0.8;
  }


  .main-section-3{
    background-image: url('./images/banner2.png');
    background-size: cover;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content-2{
  width: 100%;
  height: 300px;
  background-color: rgba(8, 7, 7, 0.705); 
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
    
 
  }

  .main-section-3 img {
    width: 500px;
    margin-right: 40px;
    
  }

  .main-section-3 h1{
    font-family: "Playfair Display", serif;
    /*text-shadow: 2px 2px 4px rgba(212, 104, 16, 0.8);*/
    color: rgb(216, 106, 28);
    margin-left: 100px;
    font-size: 40px;
    margin-top: 20px;
  }
  .main-section-3 h1 button{
    background-color:  rgb(216, 106, 28);
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }

  .main-section-3 h1 button:hover{
    background-color: rgb(116, 56, 13);
  }

  .main-section-4{
    background-color:  rgb(63, 24, 24);
    width: 100%;
    height: 850px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .content-3{
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  .main-section-4 h1{
    text-align: center;
    color: rgb(190, 139, 10);
    font-family: "Playfair Display", serif;
  }
  .main-section-4 hr{
    margin: auto;
    width: 85%;
    height: 3px;
    background-color:  rgb(190, 139, 10);
    border: none;
  }

  .cardes {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding: 50px;
    height: 400px;
    width: 90%;
    margin-left: 70px;
  
}

.card {
    
    padding: 15px;
    background-color:  rgb(190, 139, 10);
    border-radius: 5px;
    
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  
}

.card button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: rgb(190, 139, 10);
    color: rgb(68, 3, 3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid brown;
    margin-left: 50px;
}

.card button:hover {
    background-color: brown;
}
.card h2{
  color: cornsilk;
  font-family: "Trirong", serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.card{
  color: rgb(39, 36, 36);
}
.card p{
  color:  rgb(68, 3, 3);
}


.main-section-5{
  background-color:  rgb(63, 24, 24);
  width: 100%;
  height: 550px;
  justify-content: center;
  align-items: center;
}
.content-4{
  justify-content: center;
  align-items: center;
  padding: 50px;
  
}

.main-section-5 h1{
  text-align: center;
  color: rgb(190, 139, 10);
  font-family: "Playfair Display", serif;
}
.main-section-5 hr{
  margin: auto;
  width: 85%;
  height: 3px;
  background-color:  rgb(190, 139, 10);
  border: none;
}
 




.main-section-6{
  background-color:  rgb(63, 24, 24);
  width: 100%;
  height: 700px;
  justify-content: center;
  align-items: center;
}

.main-section-6 h1{
  text-align: center;
  color: rgb(190, 139, 10);
  font-family: "Playfair Display", serif;
}
.main-section-6 hr{
  margin: auto;
  width: 85%;
  height: 3px;
  background-color:  rgb(190, 139, 10);
  border: none;
}

.grid-gallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  
}
.grid-item-1 {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.grid-item-1 img {
  width: 80%;
  height: auto;
  margin-left: 30px 30px;
  margin-top: 40px;
  border: 2px solid #270d0d;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.grid-item-1 img:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.main-section-7{
  background-color:  rgb(63, 24, 24);
  width: 100%;
  height: 550px;
  justify-content: center;
  align-items: center;
 

}
.grid-about{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  
}

.main-section-7 h1{
  
  text-align: center;
  color: rgb(190, 139, 10);
  font-family: "Playfair Display", serif;
}
.main-section-7 hr{
  margin: auto;
  width: 85%;
  height: 3px;
  background-color:  rgb(190, 139, 10);
  border: none;
}
.grid-item-2 img{
  background-color:  rgb(148, 107, 3);
  margin-left: 70px;
  margin-top: 50px;
  width: 80%;
}
.grid-item-3 {
  background-color: rgb(63, 24, 24);
  width: 90%;
  height: 427px;
  margin-top: 50px;
}
.grid-item-3 p{
  color: rgb(190, 139, 10);
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}
.grid-item-3 button{
  background-color: rgb(190, 139, 10);
  border: none;
  padding: 10px;
  margin-left: 10px;
  border-radius: 1px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
.grid-item-3 button:hover{
  background-color: #550c0c;
}



.main-section-8{
  background-color:  rgb(63, 24, 24);
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.main-section-8 h1{
  text-align: center;
  color: rgb(190, 139, 10);
  font-family: "Playfair Display", serif;
}
.main-section-8 hr{
  margin: auto;
  width: 85%;
  height: 3px;
  background-color:  rgb(190, 139, 10);
  border: none;
}
.f-1{
  padding: 5px 104px ;
  background-color: rgb(182, 134, 14) ;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
.form-container{
  margin-left: 100px;
  margin-top: 0.5rem;

}
.f-4{
width: 91%;
height: 130px;
border-radius: 10px;
background-color:  rgb(163, 119, 8);
margin-top: 0.5rem;
border: none;
color: white;
}
.f-4 placeholder{
  color: antiquewhite;
}

.form-container button{
  display: block;
  margin: 20px auto;
  padding: 10px 50px;
  background-color:  rgb(63, 24, 24);
  color: white;
  border: 1px solid white;
  border-radius: 2px; 
}
.form-container button:hover{
  background-color: rgb(34, 2, 2);
}

/*footer-section*/
.main-section-9{
  background-color: rgb(124, 78, 19);
  width: 100%;
  height: 300px;
  
}
.footer-1{
  color: whitesmoke;
  text-align: center;
  font-size: 1rem;
  font-family: "Playfair Display", serif;
}
.footer-1 p{
  margin-top: 30px;
}
.link img {
  width: 2rem;
  height: 2rem;
  margin-top: 40px;
}
.link{
  
  text-align: center;
}
.link img:hover{
  background-color: #ce1717;
  border-radius: 50%;
}

.para{
  color: antiquewhite;
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}

@media screen and (max-width:992px) {
 .main-section .content h1{
  font-size: 1rem;
 } 
 .main-section{
  width: 100%;
 }
 .main-section .content img{
  width: 30%;
 }
}



@media  screen and (max-width: 768px) {
  .main-section-3 .content-2 h1{
    font-size: 20px;
  }
  .main-section-3 .content-2 img{
    width: 30%;
  }
}
@media screen and (max-width: 768px){
  .main-section-4 .content-3 h1{
    font-size: 1rem;
  }
  
}


@media screen and (max-width: 768px) {
 
  .grid-item-3 p{
    font-size: 60%;
  }
  .grid-item-2 img {
    width: 80%;
  }
  .main-section-7{
    height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .main-section-8 hr{
    
  }
  .f-1, .f-4 {
    font-size: 14px;
    padding: 10px 12px;
  }

  button {
    font-size: 16px;
    padding: 10px 10px;
  }
}



